* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #3AC523
}

#menu {
    background: #18A718;
    width: 100%;
    height: 40px;

}


.fondo {
	color:#fff;
	margin-top: 20px;

}

h2{
	color:#fff;
}

#formulario {
    background-color: #dcdcde;
    border: 1px solid #c7c7cd;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
    width: 230px;
    margin-bottom: 5px;
}
	

#list-name-imput {
    background: 0 0;
    border-color: transparent;
    cursor: pointer;
    display: none;
    margin: 0;
}



#green-botton {
    background-color: #6dbf56;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px;
    border: none;
}