* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #4bbf6b;
}

#menu {
    background: #40a35b;
    width: 100%;
    height: 40px;

}


.fondo {
	color:#fff;
	margin-top: 20px;

}

h2{
	color:#fff;
}

#boton1 {
    background-color: #5AAC44;
    padding: 8px 16px;
    font-weight: 700;
    color: #FFF;
    border-radius: 3px;
    margin: 5px;
    float: left;
}

#oculto {
    background-color: #dcdcde;
    border: 1px solid #c7c7cd;
    width: 230px;
    font-size: 20px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    display:none;
}
	

#boton2 {
    background-color: #6dbf56;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 15px;
    border: none;
}

#list-name-imput {
    display: inline-block;
    background: 0 0;
    border-color: transparent;
    cursor: pointer;
    margin: 0;
}

